
 
 
body {
    background: rgba(0, 0, 0, 0.93);
    color: #333333;
    font-weight: 300;
    /*overflow: hidden;*/
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}
 
h3 {
    font-size: 1.3rem;
}
html {
	overflow: hidden;
}
 
.tm-site-logo {
    width: 40px;
    height: 40px;
    border: 7px solid white;
    transform: rotate(45deg);
    display: inline-block;
    vertical-align: middle;
}
 
.tm-site-title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
 
.tm-site-header {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
}
 
#tm-video-loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}
 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 
.tm-video-container {
    position: relative;
    max-width: 1280px;
    max-height: 640px;
    overflow-y: hidden;
}
 
.tm-video-text {
    display: inline-block;
}
 
.tm-welcome-video {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-color: black;
    background-size: cover;
    transition: 1s opacity;
}
 
.tm-video-text-overlay {
    position: absolute;
    left: 60%;
    bottom: 30px;
}
.tm-video-text-overlay h1 {
    font-size: 3.4rem;
}
.tm-welcome-text {
    margin-top: 65px;
    margin-bottom: 65px;
    font-size: 2.2rem;
}
 
.tm-font-400 {
    font-weight: 400;
}
 
.tm-text-light-gray {
    color: #CDCDCD;
}
 
.tm-text-gray {
    color: #CCCCCC;
}
 
.tm-text-white {
    color: #FFFFFF;
}
 
a.tm-text-white:hover,
a.tm-text-white:focus {
    color: #FFFFFF;
}
 
.tm-text-green {
    color: #99CC66;
}
 
.tm-text-cyan {
    color: #33CCCC;
}
 
.tm-text-yellow {
    color: #FFFF66;
}
 
.tm-text-orange {
    color: #CC9966;
}
 
.tm-bg-dark {
    background-color: #262626;
}
 
.tm-bg-dark-light {
    background-color: #404040;
}
 
hr {
    border-color: #666666;
    max-width: 70%;
}
 
.tm-video-iframe {
    height: auto;
}
 
.tm-timeline-item {
    margin-left: 70px;
}
 
.tm-timeline-item-inner {
    display: flex;
    align-items: center;
}
 
.tm-img-timeline {
    width: 160px;
    height: 160px;
    display: inline-block;
    vertical-align: middle;
}
 
.tm-timeline-connector {
    width: 55px;
    height: 3px;
    background-color: #404040;
}
 
.tm-timeline-connector-vertical {
    height: 60px;
    width: 3px;
    background-color: #404040;
    margin-left: 260px;
}
 
.tm-timeline-description {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 35px 40px;
    max-width: 712px;
}
 
.tm-section-mb {
    margin-bottom: 85px;
}
 
.tm-section-mt {
    margin-top: 85px;
}
 
.tm-contact-form {
    max-width: 500px;
}
 
.form-control {
    border-radius: 0;
    border-color: #666666;
    color: #CCC;
    background: transparent;
    padding: 12px 15px;
}
 
.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    opacity: 1;
    /* Firefox */
}
 
.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #DDDDDD;
}
 
.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #DDDDDD;
}
 
iframe {
    max-width: 100%;
}
 
.tm-btn-send {
    border-radius: 0;
    font-size: 1.1rem;
    padding: 12px 50px;
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}
 
.tm-btn-send:hover,
.tm-btn-send:focus {
    background: #CCCCCC;
    color: #333333;
}
 
.form-control:focus {
    background-color: transparent;
    border-color: #CCCCCC;
    color: #FFF;
    box-shadow: 0 0 0 0.2rem #cccccc14;
}
 
input,
textarea,
[contenteditable] {
    caret-color: #FFFFFF;
}
 
p {
    line-height: 1.9;
}
 
@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
    .tm-container-2 {
        max-width: 1170px;
    }
}
 
@media (max-width: 1199px) {
    .tm-video-container {
        max-width: 932px;
        max-height: 466px;
    }
    .tm-video-text-overlay {
        left: 60%;
    }
}
 
@media (max-width: 767px) {
    .tm-timeline-item {
        margin-left: 0;
    }
    .tm-video-container {
        max-width: 510px;
        max-height: 255px;
    }
    .tm-video-container,
    .tm-welcome-video {
        min-height: 220px;
    }
    .tm-video-text-overlay {
        left: 25%;
    }
}
 
@media (max-width: 584px) {
    .tm-timeline-item-inner {
        flex-direction: column;
    }
    .tm-timeline-connector {
        width: 3px;
        height: 55px;
    }
    .tm-timeline-connector-vertical {
        margin-left: auto;
        margin-right: auto;
    }
}
 
@media (max-width: 575px) {
    .container {
        max-width: 540px;
    }
    .tm-video-text-overlay {
        left: 30%;
    }
    .tm-video-text-overlay h1 {
        font-size: 1.8rem;
    }
}
 
 
@media (max-width: 480px) {
    .tm-video-container {
        overflow-x: hidden;
    }
    .tm-welcome-video {
        min-width: auto;
        max-width: 125%;
    }
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: -24px;
    padding-top: 0px;
}
hr {
    margin-top: -4%;
    margin-left: 37.4%;
    margin-right: 21%;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
}
hr {
    border-color: #8b7950;
    max-width: 70%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}
 
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px)
.col-md-4 {
    width: 33.33333333%;
}
@media (min-width: 992px)
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.ovrflw {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}
 
div.center {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}
 
div.jumbotron, div.jumbotron-fluid  {
  background-color: #8987DF;
  color: #fefefe;
}
 
.nh-w {
  width: 66%;
  margin: 0 auto;
}
 
.spacing {
  margin: 10px;
}
 
.card {
  padding: 10px;
}
div.center {
    margin-left: auto;
    margin-top: 4px;
    margin-right: auto;
    width: 102%;
}
.spacing {
    margin: -10px;
}
.card {
    padding: 10px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e7e7e7;
    background-clip: border-box;
    border: 2px solid rgb(47, 47, 47);
    border-radius: .25rem;
}
.lighter:before, .darker:before, .bluer:before, .greyer:before, .x-lighter:before, .x-greyer:before, .x-darker:before {
    content: "";
    position: inherit;
    top: auto;
    left: auto;
    width: 100%;
    height: 170px;
    z-index: -1;
}
.lighter:before {
    background-color: rgba(255, 255, 255, 0.1);
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}
div.center {
    margin-left: auto;
    margin-top: 5px;
    margin-right: auto;
    width: 85%;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px;
}
.spacing {
    margin: 4px;
}
.spacing1 {
    margin: 4px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    margin-top: 4px;
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
 
 
 
body{
    font-family: 'Exo', sans-serif;
}
 
 
 
.area{
    background-color: rgba(0, 0, 0, 0.54);
    background: -webkit-linear-gradient(to left, #c6c6c7, #9b9b9c);  
    width: 100%;
 
   
}
 
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
   
}
 
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(230, 185, 95);
    animation: animate 28s linear infinite;
    bottom: -150px;
   overflow: hidden;
}
 
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
 
 
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
 
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
 
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
 
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
 
.circles li:nth-child(6){
    left: 4%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
 
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
 
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
 
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
 
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
 
 
 
@keyframes animate {
 
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
 
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
 
}
 
 
li.listelement{
    background-color: rgba(36, 39, 182, 0.1);  
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    left: 0%;
    width: 100%;
    height:100%;
    bottom: 0px;
    border:2px solid #161616;
    border-radius: 20px;
    box-shadow: 5px 10px 20px 1px #3d3d3d69;
    transition: width 0.2s, height 0.2s, left 0.2s, bottom 0.2s, margin-bottom 0.2s;
}
 
 li.listelement:hover{
    margin-bottom: 0px;
     bottom: 8px;
    cursor: pointer;
    width: 105%;
    height:100px;
    left: -2%;
}
.transform {
    -webkit-transition: all 0.3s ease;  
    -moz-transition: all 0.3s ease;  
    -o-transition: all 0.3s ease;  
    -ms-transition: all 0.3s ease;  
    transition: all 0.3s ease;
  }
 
 
}
@media screen and (min-width: 1155px) {
    li h2 {
       
        color: black;
        font-size: 20px;
        position: relative;
        left: 2%;
        bottom: 12%;
        font-family: 'Quicksand', sans-serif;
    }
    li p {
        opacity: 0.8;
       
        max-width: 96%;
       
        font-size: 15px;
        font-weight: 700;
        color: rgb(71, 71, 71);
        left: 2%;
        bottom: 32%;
        position: relative;
        font-family: 'Quicksand', sans-serif;
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.6em;
 
    }
   
  }
 
  @media screen and (max-width: 1155px) {
    li h2 {
        color:black;
        font-size: 14px;
        font-size: 18px;
        position: relative;
        left: 2%;
        bottom: 8%;
        font-family: 'Quicksand', sans-serif;
    }
    li p {
        font-size:12.7px;
        text-shadow: 2px 2px 3px #111111;
        opacity: 0.8;
        color: white;
        left: 2%;
        bottom: 20%;
        position: relative;
        font-family:  'Quicksand', sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 97%;
        display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.6em;
       
    }
}
@media screen and (max-width: 772px) {
    li h2 {
       
        color:black;
        font-size: 14px;
        position: relative;
        left: 2%;
        bottom: 2%;
        font-family: "Quicksand", sans-serif;
    }
    li p {
       
        text-shadow: 2px 2px 3px #111111;
        opacity: 0.8;
        font-size:12px;
        max-width: 97%;
        color: white;
        left: 2%;
        bottom: 10%;
        font-family: 'Quicksand', sans-serif;
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.6em;
 
    }
}
@media screen and (max-width: 540px) {
    li h2 {
        margin:0;
        color:rgb(0, 0, 0);
        font-size: 20px;
        position: relative;;
        text-align: center;
        vertical-align: middle;
        top: 38%;
        font-family: "metropolis-regular", sans-serif;
    }
    li p {
        display: none;
        font-size:12px;
        max-width: 97%;
        color: rgb(102, 102, 102);
        left: 2%;
        bottom: 30%;
        position: relative;
        font-family: "metropolis-regular", sans-serif;
    }
}
 
  .outer {
    position: relative;
    margin: auto;
    width: 0px;
    left: 42%;;
    top: 5px;
    cursor: pointer;
  }
  .outer-active {
      width: 30px;
  }
 
  .inner {
    width: inherit;
    text-align: center;
  }
 
  label {
      position: relative;
      right: 15%;
    font-size: .8em;  
    line-height: 4em;
    text-transform: uppercase;
    font-family: "metropolis-regular", sans-serif;
    color: black;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
  }
 
  .inner:before, .inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: black;
    left: 0;
    transition: all .3s ease-in;
  }
 
  .inner:before {
    top: 50%;
    transform: rotate(45deg);  
  }
 
  .inner:after {  
    bottom: 50%;
    transform: rotate(-45deg);  
  }
 
  .outer:hover label {
    opacity: 1;
  }
 
  .outer:hover .inner:before,
  .outer:hover .inner:after {
    transform: rotate(0);
  }
 
  .outer:hover .inner:before {
    top: 0;
  }
 
  .outer:hover .inner:after {
    bottom: 0;
  }
 
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }